*{
    font-family: arial;
}
/* Header */
.header{
    display:flex;
    background-color: beige;
    padding: 10px;
}
.header-logo{
    margin-top: auto;
    margin-bottom: auto;
}
.header-logo img{
    height: 100px;
}
.header-tittle{
    margin-top: auto;
    margin-bottom: auto;
}
.header-tittle a{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: black;
}
/* Navbar */
.nav{
    background-color: black;
    padding: 10px;
    margin-top: 0px;
}
.nav-item{
    display: inline-block;
    margin-left: 20px;
    height: 20px;
}
.nav-item a{
    color: white;
    text-decoration: none;
}
.nav-item a:hover{
    color: cadetblue;
}
/* Content index.html */
.content{
    width: 95%;
    margin: auto;
}
.content h1{
    color: darkolivegreen;
    font-size: 35px;
}
.content h2{
    font-size: 22px;
    color: darkgreen;
}

/* Konten Buku.html */
.tabel{
    border-spacing: 4px;
}
.tabel-header th{
padding: 10px;
text-align: left;
}
.tabel-genap{
    background-color: aliceblue;
}
.tabel-content td{
    padding: 10px;
}
td>img{
    width: 100px;
}
.tabel-content:hover{
    background-color: bisque;
}

/* Form (kontak.html) */
.form-group{
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-group label{
    display: block;
    font-size: 20px;
    color: rgb(135, 135, 135);
}
.form-group input{
    display: block;
    margin-top: 10px;
    width: 60%;
}
.form-group textarea{
    display: block;
    margin-top: 10px;
    height: 200px;
    width: 60%;
}
.btn{
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    background-color: darkolivegreen;
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: black;
}
.btn:active{
    background-color: pink;
}